<?xml version="1.0" encoding="UTF-8" standalone="no"?><Menu><Primero><Nombre>Lentejas con calabaza</Nombre><Precio>8.0</Precio></Primero><Primero><Nombre>Judías verdes</Nombre><Precio>12.3</Precio></Primero><Primero><Nombre>Berenjenas agridulces</Nombre><Precio>15.5</Precio></Primero><Primero><Nombre>Sopa de huevo</Nombre><Precio>7.0</Precio></Primero><Segundo><Nombre>Lomo de cerdo</Nombre><Precio>29.7</Precio></Segundo><Segundo><Nombre>Bonito marinado</Nombre><Precio>32.3</Precio></Segundo><Segundo><Nombre>Trucha marinada</Nombre><Precio>25.2</Precio></Segundo><Segundo><Nombre>Fajitas de ternera</Nombre><Precio>18.5</Precio></Segundo><Postre><Nombre>Brownie de chocolate</Nombre><Precio>5.5</Precio></Postre><Postre><Nombre>Crema catalana</Nombre><Precio>42.3</Precio></Postre><Postre><Nombre>Trufas de cava</Nombre><Precio>25.2</Precio></Postre><Postre><Nombre>Goxua</Nombre><Precio>39.7</Precio></Postre></Menu>